.current-step-panel {
    width: 35vw;
    min-height: 18vh;
    height: auto;
    margin: auto;
    border: 2px solid rgba(1,1,1,0.25);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(1,1,1,0.25);
    padding: 10px;
    word-wrap: break-word;

}

.current-step-panel > div {
    border-left-style: solid;
    border-left-color: rgba(24,178,217,0.25);
    border-left-width: 3px;
    padding: 5px;
}

.step {
 font-weight: bold;
 font-size: 1em;
}