.number {
  position: relative;
  padding: 0.35em;
  width: 2em;
  height: 2em;
  margin: 0.35em;
  border-radius: 50%;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  line-height: 2em;
  font-size: 1em;
  text-align: center;
  transition: all 0.5s;

}


@keyframes switchFirst {
     0%   {transform: scale(0);top:0;}
     100%  { transform: scale(1);top:0;}
}

@keyframes switchSecond {
    0%   {transform: scale(0);top:0;}
    100%  { transform: scale(1);top:0;}
}

.no-transition {
    transform: none !important;
}
