.stuki {
    min-width: 15vw;
    width: auto;
    margin: auto;
    box-shadow: 5px 10px 5px rgba(1,1,1,0.5);
    text-align: center;
    word-wrap: break-word;
    direction: rtl;

}
.body {
    box-shadow: 5px 10px 5px rgba(1,1,1,0.5);
}

.sequence {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    box-shadow: 3px 3px 3px rgba(1,1,1,0.3) inset;
    direction: ltr;
}

.loop {
    box-shadow: 3px 3px 3px rgba(1,1,1,0.3) inset;
}

.loop > div {
    width: 90%;
}

.condition {
    background: linear-gradient(to left, rgba(1,1,1,0.4) 0%, transparent 10%, transparent 90%, rgba(1,1,1,0.4) 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    box-shadow: 3px 3px 3px rgba(1,1,1,0.3) inset;

}

.condition_container {
    box-shadow: 3px 3px 3px rgba(1,1,1,0.3) inset;
}

.branches {
    display: flex;
    flex-direction: row-reverse;
}







